In [31]:
import requests

import geopandas as gpd
from shapely.geometry import shape

api_url = "https://api.energyandcleanair.org/stations?country=GB,US,TR,PH,IN,TH&format=geojson"

# Fetch data from API
response = requests.get(api_url)

# Check if the request was successful
if response.status_code == 200:
    geojson_data = response.json()
    print("Data fetched successfully!")
else:
    print(f"Failed to fetch data. HTTP Status Code: {response.status_code}")
    exit()

stations_gdf = gpd.GeoDataFrame.from_features(geojson_data["features"])

Data fetched successfully!

In [33]:
stations_gdf.head()

,geometry,type,timezone,name,gadm2_id,gpw,show_in_dashboard,last_scraped_data,country_id,names,...,pollutants,id,attribution,source,infos,first_updated,level,last_updated,city_id,city_name
0,POINT (-157.96913 21.39283),None,Pacific/Honolulu,Pearl City,usa.12.2_1,None,False,None,US,[Pearl City],...,"[pm10, pm25]",1026,,openaq,"{'sources': '', 'isMobile': False, 'isAnalysis...",None,station,2022-04-06T00:00:00+00:00,"pearl city, manana_usa.12_1_us","Pearl City, Manana"
1,POINT (-119.78900 39.50600),None,America/Los_Angeles,Plumb-Kit,usa.29.16_1,None,False,None,US,[Plumb-Kit],...,[pm10],1046,,openaq,"{'sources': '', 'isMobile': False, 'isAnalysis...",None,station,2018-01-04T00:00:00+00:00,reno_usa.29_1_us,Reno
2,POINT (-90.70520 38.49020),None,America/Chicago,Pacific,usa.26.95_1,None,False,None,US,[Pacific],...,[o3],1002,,openaq,"{'sources': '', 'isMobile': False, 'isAnalysis...",None,station,2024-08-24T00:00:00+00:00,pacific_usa.26_1_us,Pacific
3,POINT (-118.82303 45.65223),None,America/Los_Angeles,Pendleton - McKay Cr,usa.38.30_1,None,False,None,US,[Pendleton - McKay Cr],...,[pm25],1029,,openaq,"{'sources': '', 'isMobile': False, 'isAnalysis...",None,station,2024-08-24T00:00:00+00:00,pendleton_usa.38_1_us,Pendleton
4,POINT (-87.27080 30.36810),None,America/Chicago,Pensacola NAS,usa.10.16_1,None,False,None,US,[Pensacola NAS],...,"[o3, pm25]",1030,,openaq,"{'sources': '', 'isMobile': False, 'isAnalysis...",None,station,2024-08-24T00:00:00+00:00,warrington_usa.10_1_us,Warrington

In [34]:
import requests

import geopandas as gpd
from shapely.geometry import shape

api_url_country = "https://r2.datahub.io/clvyjaryy0000la0cxieg4o8o/main/raw/data/countries.geojson"

# Fetch data from API
response = requests.get(api_url_country)

# Check if the request was successful
if response.status_code == 200:
    geojson_data_country = response.json()
    print("Data fetched successfully!")
else:
    print(f"Failed to fetch data. HTTP Status Code: {response.status_code}")
    exit()

countries_gdf = gpd.GeoDataFrame.from_features(geojson_data_country["features"])

Data fetched successfully!

In [36]:
countries_gdf.head()

,geometry,ADMIN,ISO_A3,ISO_A2
0,"MULTIPOLYGON (((-69.99694 12.57758, -69.93639 ...",Aruba,ABW,AW
1,"MULTIPOLYGON (((71.04980 38.40866, 71.05714 38...",Afghanistan,AFG,AF
2,"MULTIPOLYGON (((11.73752 -16.69258, 11.73851 -...",Angola,AGO,AO
3,"MULTIPOLYGON (((-63.03767 18.21296, -63.09952 ...",Anguilla,AIA,AI
4,"MULTIPOLYGON (((19.74777 42.57890, 19.74601 42...",Albania,ALB,AL

In [38]:
stations_gdf.columns

Index(['geometry', 'type', 'timezone', 'name', 'gadm2_id', 'gpw',
       'show_in_dashboard', 'last_scraped_data', 'country_id', 'names',
       'gadm1_id', 'pollutants', 'id', 'attribution', 'source', 'infos',
       'first_updated', 'level', 'last_updated', 'city_id', 'city_name'],
      dtype='object')

In [39]:
countries_gdf.columns

Index(['geometry', 'ADMIN', 'ISO_A3', 'ISO_A2'], dtype='object')

In [40]:
stations_gdf = stations_gdf.to_crs(countries_gdf.crs)

ValueError: Cannot transform naive geometries.  Please set a crs on the object first.

In [41]:
print("Stations CRS:", stations_gdf.crs)
print("Countries CRS:", countries_gdf.crs)

Stations CRS: None
Countries CRS: None

In [44]:
# Setting CRS as its missing
if stations_gdf.crs is None:
    stations_gdf.set_crs("EPSG:4326", inplace=True)  # Assuming WGS 84

if countries_gdf.crs is None:
    countries_gdf.set_crs("EPSG:4326", inplace=True)  # Assuming WGS 84

In [45]:
stations_gdf

,geometry,type,timezone,name,gadm2_id,gpw,show_in_dashboard,last_scraped_data,country_id,names,...,pollutants,id,attribution,source,infos,first_updated,level,last_updated,city_id,city_name
0,POINT (-157.96913 21.39283),None,Pacific/Honolulu,Pearl City,usa.12.2_1,None,False,None,US,[Pearl City],...,"[pm10, pm25]",1026,,openaq,"{'sources': '', 'isMobile': False, 'isAnalysis...",None,station,2022-04-06T00:00:00+00:00,"pearl city, manana_usa.12_1_us","Pearl City, Manana"
1,POINT (-119.78900 39.50600),None,America/Los_Angeles,Plumb-Kit,usa.29.16_1,None,False,None,US,[Plumb-Kit],...,[pm10],1046,,openaq,"{'sources': '', 'isMobile': False, 'isAnalysis...",None,station,2018-01-04T00:00:00+00:00,reno_usa.29_1_us,Reno
2,POINT (-90.70520 38.49020),None,America/Chicago,Pacific,usa.26.95_1,None,False,None,US,[Pacific],...,[o3],1002,,openaq,"{'sources': '', 'isMobile': False, 'isAnalysis...",None,station,2024-08-24T00:00:00+00:00,pacific_usa.26_1_us,Pacific
3,POINT (-118.82303 45.65223),None,America/Los_Angeles,Pendleton - McKay Cr,usa.38.30_1,None,False,None,US,[Pendleton - McKay Cr],...,[pm25],1029,,openaq,"{'sources': '', 'isMobile': False, 'isAnalysis...",None,station,2024-08-24T00:00:00+00:00,pendleton_usa.38_1_us,Pendleton
4,POINT (-87.27080 30.36810),None,America/Chicago,Pensacola NAS,usa.10.16_1,None,False,None,US,[Pensacola NAS],...,"[o3, pm25]",1030,,openaq,"{'sources': '', 'isMobile': False, 'isAnalysis...",None,station,2024-08-24T00:00:00+00:00,warrington_usa.10_1_us,Warrington
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6099,POINT (-1.91823 52.48135),background,Europe/London,station_gb1097a,gbr.1.4_1,None,False,None,GB,[station_gb1097a],...,"[no2, o3]",station_gb1097a,None,eea,None,None,station,2024-08-18T00:00:00+00:00,birmingham_gbr.1_1_gb,Birmingham
6100,POINT (-0.03742 51.44967),background,Europe/London,station_gb1098a,gbr.1.36_1,None,False,None,GB,[station_gb1098a],...,"[pm10, pm25]",station_gb1098a,None,eea,None,None,station,2024-08-17T00:00:00+00:00,london_gbr.1_1_gb,London
6101,POINT (-1.98601 52.50834),background,Europe/London,station_gb1099a,gbr.1.81_1,None,False,None,GB,[station_gb1099a],...,[no2],station_gb1099a,None,eea,None,None,station,2024-08-17T00:00:00+00:00,west bromwich_gbr.1_1_gb,West Bromwich
6102,POINT (-2.45349 53.11594),background,Europe/London,station_gb1100a,gbr.1.18_1,None,False,None,GB,[station_gb1100a],...,[no2],station_gb1100a,None,eea,None,None,station,2024-08-17T00:00:00+00:00,crewe_gbr.1_1_gb,Crewe
6103,POINT (-3.00637 51.65382),background,Europe/London,station_gb1260a,gbr.4.20_1,None,False,None,GB,[station_gb1260a],...,"[no2, o3]",station_gb1260a,None,eea,None,None,station,2024-08-18T00:00:00+00:00,cwmbran_gbr.4_1_gb,Cwmbran

In [46]:
stations_gdf = stations_gdf.to_crs("EPSG:3857")
countries_gdf = countries_gdf.to_crs("EPSG:3857")

In [47]:
countries_gdf["area_km2"] = countries_gdf["geometry"].area / 1e6

In [48]:
# Filter for countries of interest
countries_of_interest = ["United States of America", "United Kingdom", "Turkey", "Thailand", "Philippines", "India"]
filtered_countries = countries_gdf[countries_gdf["ADMIN"].isin(countries_of_interest)]

In [49]:
filtered_countries

,geometry,ADMIN,ISO_A3,ISO_A2,area_km2
81,"MULTIPOLYGON (((-699921.929 6431396.818, -7010...",United Kingdom,GBR,GB,7.126246e+05
104,"MULTIPOLYGON (((10447926.052 805209.108, 10449...",India,IND,IN,3.771668e+06
179,"MULTIPOLYGON (((13341616.787 534609.028, 13339...",Philippines,PHL,PH,3.092096e+05
223,"MULTIPOLYGON (((11048216.044 733521.240, 11049...",Thailand,THA,TH,5.571480e+05
230,"MULTIPOLYGON (((2898765.070 4843449.132, 28994...",Turkey,TUR,TR,1.296950e+06
238,"MULTIPOLYGON (((-17322038.456 2289380.839, -17...",United States of America,USA,US,2.172199e+07

In [52]:
stations_within_countries = gpd.sjoin(stations_gdf, filtered_countries, how="inner", predicate="within")

In [61]:
stations_within_countries

,geometry,type,timezone,name,gadm2_id,gpw,show_in_dashboard,last_scraped_data,country_id,names,...,first_updated,level,last_updated,city_id,city_name,index_right,ADMIN,ISO_A3,ISO_A2,area_km2
0,POINT (-17585043.224 2438781.962),None,Pacific/Honolulu,Pearl City,usa.12.2_1,None,False,None,US,[Pearl City],...,None,station,2022-04-06T00:00:00+00:00,"pearl city, manana_usa.12_1_us","Pearl City, Manana",238,United States of America,USA,US,2.172199e+07
1,POINT (-13334850.483 4794413.095),None,America/Los_Angeles,Plumb-Kit,usa.29.16_1,None,False,None,US,[Plumb-Kit],...,None,station,2018-01-04T00:00:00+00:00,reno_usa.29_1_us,Reno,238,United States of America,USA,US,2.172199e+07
2,POINT (-10097256.676 4648907.963),None,America/Chicago,Pacific,usa.26.95_1,None,False,None,US,[Pacific],...,None,station,2024-08-24T00:00:00+00:00,pacific_usa.26_1_us,Pacific,238,United States of America,USA,US,2.172199e+07
3,POINT (-13227319.528 5724793.067),None,America/Los_Angeles,Pendleton - McKay Cr,usa.38.30_1,None,False,None,US,[Pendleton - McKay Cr],...,None,station,2024-08-24T00:00:00+00:00,pendleton_usa.38_1_us,Pendleton,238,United States of America,USA,US,2.172199e+07
4,POINT (-9714941.017 3550953.963),None,America/Chicago,Pensacola NAS,usa.10.16_1,None,False,None,US,[Pensacola NAS],...,None,station,2024-08-24T00:00:00+00:00,warrington_usa.10_1_us,Warrington,238,United States of America,USA,US,2.172199e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5969,POINT (8209809.774 2108576.251),None,Asia/Kolkata,"Bhumkar Nagar, Pune - IITM",None,None,False,None,IN,None,...,None,station,2024-09-16T17:00:00+00:00,pune_ind.20_1_in,Pune,104,India,IND,IN,3.771668e+06
5970,POINT (9828683.711 2578285.845),None,Asia/Kolkata,"Botanical Garden, Howrah - WBPCB",None,None,False,None,IN,None,...,None,station,2024-09-16T18:00:00+00:00,howrah_ind.36_1_in,Howrah,104,India,IND,IN,3.771668e+06
5971,POINT (9698057.524 2706747.933),None,Asia/Kolkata,"Trivenidevi Bhalotia College, Asansol - WBPCB",None,None,False,None,IN,None,...,None,station,2024-09-16T18:00:00+00:00,asanol_ind.36_1_in,Asanol,104,India,IND,IN,3.771668e+06
5972,POINT (8215985.557 2100436.519),None,Asia/Kolkata,"Panchawati_Pashan, Pune - IITM",None,None,False,None,IN,None,...,None,station,2024-09-16T17:00:00+00:00,pune_ind.20_1_in,Pune,104,India,IND,IN,3.771668e+06
5973,POINT (8215324.542 2109633.051),None,Asia/Kolkata,"Savta Mali Nagar, Pimpri-Chinchwad - IITM",None,None,False,None,IN,None,...,None,station,2024-09-16T17:00:00+00:00,pimpri chinchwad_ind.20_1_in,Pimpri Chinchwad,104,India,IND,IN,3.771668e+06

In [62]:
stations_within_countries

,geometry,type,timezone,name,gadm2_id,gpw,show_in_dashboard,last_scraped_data,country_id,names,...,first_updated,level,last_updated,city_id,city_name,index_right,ADMIN,ISO_A3,ISO_A2,area_km2
0,POINT (-17585043.224 2438781.962),None,Pacific/Honolulu,Pearl City,usa.12.2_1,None,False,None,US,[Pearl City],...,None,station,2022-04-06T00:00:00+00:00,"pearl city, manana_usa.12_1_us","Pearl City, Manana",238,United States of America,USA,US,2.172199e+07
1,POINT (-13334850.483 4794413.095),None,America/Los_Angeles,Plumb-Kit,usa.29.16_1,None,False,None,US,[Plumb-Kit],...,None,station,2018-01-04T00:00:00+00:00,reno_usa.29_1_us,Reno,238,United States of America,USA,US,2.172199e+07
2,POINT (-10097256.676 4648907.963),None,America/Chicago,Pacific,usa.26.95_1,None,False,None,US,[Pacific],...,None,station,2024-08-24T00:00:00+00:00,pacific_usa.26_1_us,Pacific,238,United States of America,USA,US,2.172199e+07
3,POINT (-13227319.528 5724793.067),None,America/Los_Angeles,Pendleton - McKay Cr,usa.38.30_1,None,False,None,US,[Pendleton - McKay Cr],...,None,station,2024-08-24T00:00:00+00:00,pendleton_usa.38_1_us,Pendleton,238,United States of America,USA,US,2.172199e+07
4,POINT (-9714941.017 3550953.963),None,America/Chicago,Pensacola NAS,usa.10.16_1,None,False,None,US,[Pensacola NAS],...,None,station,2024-08-24T00:00:00+00:00,warrington_usa.10_1_us,Warrington,238,United States of America,USA,US,2.172199e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5969,POINT (8209809.774 2108576.251),None,Asia/Kolkata,"Bhumkar Nagar, Pune - IITM",None,None,False,None,IN,None,...,None,station,2024-09-16T17:00:00+00:00,pune_ind.20_1_in,Pune,104,India,IND,IN,3.771668e+06
5970,POINT (9828683.711 2578285.845),None,Asia/Kolkata,"Botanical Garden, Howrah - WBPCB",None,None,False,None,IN,None,...,None,station,2024-09-16T18:00:00+00:00,howrah_ind.36_1_in,Howrah,104,India,IND,IN,3.771668e+06
5971,POINT (9698057.524 2706747.933),None,Asia/Kolkata,"Trivenidevi Bhalotia College, Asansol - WBPCB",None,None,False,None,IN,None,...,None,station,2024-09-16T18:00:00+00:00,asanol_ind.36_1_in,Asanol,104,India,IND,IN,3.771668e+06
5972,POINT (8215985.557 2100436.519),None,Asia/Kolkata,"Panchawati_Pashan, Pune - IITM",None,None,False,None,IN,None,...,None,station,2024-09-16T17:00:00+00:00,pune_ind.20_1_in,Pune,104,India,IND,IN,3.771668e+06
5973,POINT (8215324.542 2109633.051),None,Asia/Kolkata,"Savta Mali Nagar, Pimpri-Chinchwad - IITM",None,None,False,None,IN,None,...,None,station,2024-09-16T17:00:00+00:00,pimpri chinchwad_ind.20_1_in,Pimpri Chinchwad,104,India,IND,IN,3.771668e+06

In [53]:
stations_count = stations_within_countries.groupby("ADMIN").size().reset_index(name="num_stations")

In [54]:
stations_count

                      ADMIN  num_stations
0                     India           552
1               Philippines            19
2                  Thailand           340
3                    Turkey           369
4            United Kingdom           422
5  United States of America          4310

In [63]:
# Merge station counts with country areas
result = filtered_countries.merge(stations_count, left_on="ADMIN", right_on="ADMIN", how="left")
result["num_stations"] = result["num_stations"].fillna(0).astype(int)

In [64]:
result

,geometry,ADMIN,ISO_A3,ISO_A2,area_km2,num_stations
0,"MULTIPOLYGON (((-699921.929 6431396.818, -7010...",United Kingdom,GBR,GB,7.126246e+05,422
1,"MULTIPOLYGON (((10447926.052 805209.108, 10449...",India,IND,IN,3.771668e+06,552
2,"MULTIPOLYGON (((13341616.787 534609.028, 13339...",Philippines,PHL,PH,3.092096e+05,19
3,"MULTIPOLYGON (((11048216.044 733521.240, 11049...",Thailand,THA,TH,5.571480e+05,340
4,"MULTIPOLYGON (((2898765.070 4843449.132, 28994...",Turkey,TUR,TR,1.296950e+06,369
5,"MULTIPOLYGON (((-17322038.456 2289380.839, -17...",United States of America,USA,US,2.172199e+07,4310

In [65]:
# Calculate density
result["density_per_1000_sqkm"] = (result["num_stations"] / result["area_km2"]) * 1000

In [66]:
result

,geometry,ADMIN,ISO_A3,ISO_A2,area_km2,num_stations,density_per_1000_sqkm
0,"MULTIPOLYGON (((-699921.929 6431396.818, -7010...",United Kingdom,GBR,GB,7.126246e+05,422,0.592177
1,"MULTIPOLYGON (((10447926.052 805209.108, 10449...",India,IND,IN,3.771668e+06,552,0.146354
2,"MULTIPOLYGON (((13341616.787 534609.028, 13339...",Philippines,PHL,PH,3.092096e+05,19,0.061447
3,"MULTIPOLYGON (((11048216.044 733521.240, 11049...",Thailand,THA,TH,5.571480e+05,340,0.610251
4,"MULTIPOLYGON (((2898765.070 4843449.132, 28994...",Turkey,TUR,TR,1.296950e+06,369,0.284514
5,"MULTIPOLYGON (((-17322038.456 2289380.839, -17...",United States of America,USA,US,2.172199e+07,4310,0.198416

In [67]:
# Final table
final_table = result[["ADMIN", "num_stations", "area_km2", "density_per_1000_sqkm"]].rename(
    columns={
        "ADMIN": "Country Name",
        "num_stations": "Number of PM10 Stations",
        "area_km2": "Area (sq. km)",
        "density_per_1000_sqkm": "Density (stations/1000 sq. km)"
    }
)

In [68]:
# Sort and display
final_table = final_table.sort_values(by="Density (stations/1000 sq. km)", ascending=False)
print(final_table.to_string(index=False))

            Country Name  Number of PM10 Stations  Area (sq. km)  Density (stations/1000 sq. km)
                Thailand                      340   5.571480e+05                        0.610251
          United Kingdom                      422   7.126246e+05                        0.592177
                  Turkey                      369   1.296950e+06                        0.284514
United States of America                     4310   2.172199e+07                        0.198416
                   India                      552   3.771668e+06                        0.146354
             Philippines                       19   3.092096e+05                        0.061447

In [69]:
####